 @import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
* {
  font-family: 'Changa', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: 1s;
  align-items: center;
  color: #fff;
}
span{
  color: red;
}
.line{
  border-bottom:4px red solid;
  width:27px;
  margin-top: 5px;
  border-radius:1px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  backdrop-filter: blur(5px);
}
nav img{
  right: 10px;
  position: absolute;
  width: 50px;
  background: #003;
  padding-right: 7px;
  padding: 2px;
  border-radius: 2px;
}
#show{
  position: absolute;
  left: 20px;
}
.menu{
  top: -100%;
  position: fixed;
  z-index: 9999;
  height: 420px;
  background: #001;
  left: 0;
  padding-top: 20px;
  color: #fff;
  width:100%;
}

.menu h1{
  margin-left: 10px;
}
.menu h1:hover{
  color: red;
}
@media (max-width:1440px){
  header{
    display: flex !important;
  }
  nav{
    display: none;
  }
header a:hover{
    color: red !important;
  }
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
@media (max-width:900px){
  header{
    display: none !important;
  }
  nav{
    display: flex !important;
  }
  a{
    color: #fff !important;
  }
nav  a:hover{
    color: red !important;
  }
}
.menu h2{
  color: red;
}
.menu h1{
  margin-left: 15px;
  color: white;
}
.menu h1:hover{
  color: red;
}

a{
  color: #fff;
}

a:hover{
  margin-right:  30px;
  color: red;
}
header h3{
  color: red;
}
.landing{
  background-image: url(bg.jpg);
  background-size: 100% 100%;
  height: 75vh;
}
body{
  background: #000;
}
.content{
  place-items: center;
  display: grid;
  height: 60vh;
}
button{
  width: 100px;
  height: 30px;
  border-radius: 100px;
  border: 2px red solid;
  background: none;
}
.content ul{
  backdrop-filter: blur(10px);
  width: 300px;
  height: 150px;
  padding-top: 40px;
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:900px){
  .about{
    display: block;
  }
}
.about img{
  border-radius: 2px;
}
.h2{
  text-align: right;
  margin-right: 10%;
}
.cards{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
}
.card{
  width: 200px;
  height: 300px;
  margin-top: 10px;
  display: grid;
  place-items: center;
  border-radius: 2px;
  background: #001;
}
.card img{
  width: 150px;
  height: 150px;
  border: 1px red solid;
  border-radius: 3px;
}

.card button{
  border-left: 0;
  width: 200px;
  color: red;
  border-color: #002;
  border-right: 0;
  border-radius: 0;
  opacity: 0.70;
  margin-top: 10px;
  background: #002;
}
.landing button:hover{
  background: red;
  color: white;
}
.landing span:hover{
  color: #fff;
}
nav img{
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
.nav{
  width: 90%;
  padding: 15px;
  border-radius: 100px;
  height: 25px;
  background: #001;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav a:hover{
  padding: 5px;
  background: red;
  color: #fff;
  border-radius: 100px;
}
.nav a{
  font-size: 13px;
}
#hover{
  padding: 5px;
  background: red;
  color: #fff;
  border-radius: 100px;
}
.a{
  color: blue;
  text-decoration: underline;
}